body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
}

.container-fluid {
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

input::placeholder,
input:not(:placeholder-shown) {
  font-size: 1rem;
}

.d-none {
  display: none !important;
}

/*========== EXTRA LARGE SCREEN ==========*/
@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}
/*========== LARGE SCREEN ==========*/
@media (max-width:1199px) {
  .container {
    max-width: 960px;
  }
}
/*========== MEDIUM SCREEN ==========*/
@media (max-width:991px) {
  .container {
    max-width: 720px;
  }
}
/*========== SMALL SCREEN ==========*/
@media (max-width:767px) {
  .container {
    max-width: 540px;
  }
}
/*========== EXTRA SMALL SCREEN ==========*/
@media (max-width:576px) {
  .container {
    max-width: 100%;
  }
}
